* {
    box-sizing: border-box;
  }
  

.roboto{
    font-family: 'Roboto', sans-serif;
}
.righteous{
    font-family: 'Righteous', cursive;
}

.conteiner{ 
    background-color: #E5E5E5;
    overflow-x: hidden;
} 

.topo{
    position: fixed;
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 1;
}

.topo p{
    color: #FFFFFF; 
}

.titulo{
    margin-left: 21px;
    margin-top: 8px;
    font-family: Righteous;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;         
}

.subtitulo{
    margin-left: 21px;
    margin-top: 0px;
    font-family: Roboto;
    font-size: 18px; 
}
.conteiner_almoço{    
    display: flex;
    overflow-x: scroll;    
}
.conteiner_bebida{
    display: flex;
    overflow-x: scroll;    
}
.conteiner_sobremesa{
    display: flex;
    overflow-x: scroll;  
    margin-bottom: 110px;  
}

.caixinha_almoço{    
    position: relative;   
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 172px;
    height: 230px;   
    margin: 17px 16px 0px 19px;
    flex-shrink: 0;
}

.caixinha_bebida{
    position: relative;    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 172px;
    height: 215px;
    margin: 17px 16px 0 19px;
    flex-shrink: 0;
}

.caixinha_sobremesa{    
    position: relative;    
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 172px;
    height: 205px;
    margin: 17px 16px 0px 19px;
    flex-shrink: 0;
}

.selecionar{
    box-shadow: inset 0px 0px 0px 5px #32B72F;
    /* adicionar icone check */
} 

 .titulo_bebida, .titulo_sobremesa{
    font-family: Righteous;
    font-size: 26px;
    letter-spacing: 0.018em;
    color: #333333;
    margin: 27px 0 0 19px;    
}

.titulo_almoço{
    font-family: Righteous;
    font-size: 26px;
    letter-spacing: 0.018em;
    color: #333333;
    margin: 123px 0 0 19px;
}

.conteiner img{
    border-radius: 4px;
    margin: 18px 14px 8px 14px;
    width: 144px;
    height: 87px;
}

.nome_comida, .nome_bebida, .nome_sobremesa{
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #333333;    
}
.nome_comida, .nome_bebida, .nome_sobremesa {
    margin: 0px 18px 4px 14px;
}

.descrição p{
    font-family: Roboto;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;   
}

.descrição{
    margin: 0px 11px 5px 14px;
}

.valor_comida, .valor_bebida, .valor_sobremesa {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;    
    color: #000000;
    margin: 0px 92px 0px 14px;
}

.barra-final{
    position: fixed;
    width: 100vw;
    height: 92px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.primeiro-botão{
    position: absolute;
    width: auto;
    height: 61px;
    right: 25px;
    left: 25px;
    bottom: 16px;
    border-radius: 50px;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;        
}

.começar{
    background: #CBCBCB;
}

.finalizar{
    padding-top: 20px;
    background: #32B72F;
}

.primeiro-botão p{
    margin: 8px auto auto auto;
}

.escondido .cell{ 
    display: none;
}

.esconder-link a {
    display: none;
}

.frase2 {
    color: #FFFFFF;
    z-index: 2;
    text-decoration:none; 
}

.cell{
    position: absolute;
    top: 80%;
    left: 90px;
    display: flex;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
}

.plus{
    color: #CF2B2B;
    background-color: transparent;
    border: none;
}

.minus{
    color: #32B72F;
    background-color: transparent;
    border: none;
}